/* General menu */

.menu {
  text-align: left;
  margin-bottom: 12px;
  padding-top: 12px;
}

.menu__links-item {
  display: inline-block;
  color: #8004BF;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__links-item:hover {
  text-decoration: underline;
}


.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

/* Hamburger icon style */

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

/* Mobile hamburger icon */

@media screen and (max-width: 999px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}

/* Text media queries */

.text {
  font-family: 'Lora', serif;
  padding-left: 15px;
}

@media (min-width: 320px) { 
  .text {
    font-size: 8px;
  }
}

@media (min-width: 481px) { 
  .text {
    font-size: 12px;
  }
}

@media (min-width: 641px) { 
  .text {
    font-size: 16px;
  }
}

@media (min-width: 961px) {
  .text {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .text {
    font-size: 24px;
  }
}

@media (min-width: 1281px) {
  .text {
    font-size: 28px;
  }
}

